<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<form [formGroup]="registerForm">
  <!-- Name -->
  <div>
    <label>Name</label>
    <app-input [control]="name" placeholder="Enter your name"></app-input>
  </div>
  <!-- Email -->
  <div>
    <label>Email</label>
    <app-input
      [control]="email"
      type="email"
      placeholder="Enter your email"
    ></app-input>
  </div>
  <!-- Password -->
  <div>
    <label>Password</label>
    <app-input
      [control]="password"
      type="password"
      placeholder="Enter your password"
    ></app-input>
  </div>
  <!-- Confirm Password -->
  <div>
    <label>Confirm Password</label>
    <app-input
      [control]="confirm_password"
      type="password"
      placeholder="Confirm your password"
    ></app-input>
  </div>
  <button type="button" (click)="register()" [disabled]="registerForm.invalid">
    Submit
  </button>
</form>
